<!--PageCreator_header/-->	
<div id='upper'>
		<h1>О нашем объединении</h1>
	</div>
	<div id="left">
		<div class="menuup">О нас</div>
		<div class="menucenterup"><a href="/history/index.html" class="menu">История образования</a></div>
		<div class="menucentercell"><a href="/tasks/index.html" class="menu">Задачи организации</a></div>
		<div class="menucentercell"><a href="/most_active_members/index.html" class="menu">Актив клуба</a></div>
		<div class="menucentercell"><a href="/branch/index.html" class="menu">Подклубы и филиалы</a></div>
		<div class="menucentercell"><a href="/contacts/index.html" class="menu">Контакты</a></div>
		<div class="menudown"></div>
	</div>
	<div id="centerpage">
	<h2>Межрегиональное Объединение Клубов Любителей Кошек "ВАЛЕНСИЯ"</h2> 
<img src="/templates/images/main/maincats.jpg" class="imgcenter">
  <p>- это ассоциация любителей кошек всех пород в состав которой  входят питомники, 
филиалы и клубы любителей кошек из разных регионов России. 
Основана в 1989 году. Имеет государственную регистрацию. 
Входит в состав Всемирной Федерации кошек (WCF). 
Ассоциация  занимается серьезной племенной работой по разведению разнообразных пород кошек, которые завоевывают призовые места не только в России, но и за рубежом.</p>
<p>В Московском отделении  МОКЛК "Валенсия"  зарегистрировано более 100 питомников и более 4500 кошек, а так же питомники  зарегистрированные в WCF и CFA (США). </p>
<p>Клуб занимается разведением популярных пород: Персидская, Экзотическая, Британская короткошерстная, Скоттиш-фолд, Турецкая ангора, Русская голубая, Сиамская, Кельтская, Сибирская и другие, а так же редких пород: Абиссинская, Курильский бобтейл, Рэгдолл, Манчкин, Канадский сфинкс, Донской сфинкс, Петерболд, Корниш  рекс,  Мейн кун, 
Ла-перм, Бенгальская, Саванна.</p> 
<p>Производители питомников – Чемпионы России, Международные Чемпионы, а так же Чемпионы Европы, Америки и Мира.</p>
<p>Объединение имеет своих международных судей, проводит международные и клубные выставки кошек, фелинологические курсы для любителей кошек.</p>
<p>В нашем клубе можно приобрести элитных котят разных пород.
Владельцы кошек любых пород могут вступить в наш клуб, зарегистрировать свой питомник и оформить родословные на котят. Членом Объединения  может стать любой фелинологический клуб. Мы рады всем кто захочет сотрудничать с нами.</p>
 <p>По вопросам помощи в организации филиалов, регистрации, приобретения котят, 
заказа родословных, участия в выставках кошек и другим вопросам обращайтесь 
по телефону: <b>(495) 581-85-72</b></p>

<!--PageCreator_footer/-->