<!--PageCreator_header/-->	
<div id='upper'>
		<h1>О нашем объединении</h1>
	</div>
	<div id="left">
		<div class="menuup">О нас</div>
		<div class="menucenterup"><a href="/history/index.html" class="menu">История образования</a></div>
		<div class="menucentercell"><a href="/tasks/index.html" class="menu">Задачи организации</a></div>
		<div class="menucentercell"><a href="/most_active_members/index.html" class="menu">Актив клуба</a></div>
		<div class="menucentercell"><a href="/branch/index.html" class="menu">Подклубы и филиалы</a></div>
		<div class="menucentercell"><a href="/contacts/index.html" class="menu">Контакты</a></div>
		<div class="menudown"></div>
	</div>
	<div id="centerpage">
	<h2>Подклубы и филиалы</h2>

<p><b>КЛК “Кэтти”</b> г. Смоленск, председатель Дорошкова Юлия Михайловна 
Тел. <b>(481) 259-98-53, 238-08-07</b></p>
<p><b>КЛК “Хобби-Т”</b> г. Тула, председатель Баранова Елена Борисовна 
Тел.<b>(4872) 45-84-87</b></p>
<p><b>КЛК «Валенсия»</b> г. Дубна, председатель Девятова Ирен Олеговна 
Тел. <b>(221) 3-00-27</b></p>
<p><b>КЛК «Валенсия»</b>  г. Калуга, председатель Левина Елена Игоревна 
Тел. <b>(4842) 74-16-11</b></p>
<p><b>КЛЖ</b>  г. Ковров, председатель секции любителей кошек -Михайлова Наталья Владимировна. 
Тел. <b>(910) 77-96-319</b></p>

<!--PageCreator_footer/-->