<!--PageCreator_header/-->	
<div id='upper'>
		<h1>О нашем объединении</h1>
	</div>
	<div id="left">
		<div class="menuup">О нас</div>
		<div class="menucenterup"><a href="/history/index.html" class="menu">История образования</a></div>
		<div class="menucentercell"><a href="/tasks/index.html" class="menu">Задачи организации</a></div>
		<div class="menucentercell"><a href="/most_active_members/index.html" class="menu">Актив клуба</a></div>
		<div class="menucentercell"><a href="/branch/index.html" class="menu">Подклубы и филиалы</a></div>
		<div class="menucentercell"><a href="/contacts/index.html" class="menu">Контакты</a></div>
		<div class="menudown"></div>
	</div>
	<div id="centerpage">
	<h2>Как с нами связаться</h2> 
<p>По вопросам помощи в организации филиалов, приобретения котят,
регистрации котят, заказа родословных, участия в выставках кошек и
другим вопросам обращайтесь по  телефону:</p> 
<h3>(495) 581-85-72</h3>
<p>Часы работы Объединения по четвергам с 18.00 до 20.00 по адресу:
г. Москва, ул. Менжинского, дом 6, кинотеатр "Арктика",
проезд до метро "Бабушкинская".</p>
<h3>e-mail : valensia@umail.ru</h3>
<p>Наш адрес в интернет: <strong><a style="color:#006600;" class="footerhref" href="http://www.valensiacat.ru">www.valensiacat.ru</a></strong></p>


<!--PageCreator_footer/-->