</div>
<div id="footer">
		<div class="footerup"></div>
		<div class="footerline">Copyright © 2007 МОКЛК "Валенсия". Тел.(495) 581-85-72. E-mail:<a href="mailto:valensia@umail.ru" class="footerhref">valensia@umail.ru</a></div>
	</div>
</div>
</div>

</body>
</html>