<!--PageCreator_header/-->	
<div id='upper'>
		<h1>О нашем объединении</h1>
	</div>
	<div id="left">
		<div class="menuup">О нас</div>
		<div class="menucenterup"><a href="/history/index.html" class="menu">История образования</a></div>
		<div class="menucentercell"><a href="/tasks/index.html" class="menu">Задачи организации</a></div>
		<div class="menucentercell"><a href="/most_active_members/index.html" class="menu">Актив клуба</a></div>
		<div class="menucentercell"><a href="/branch/index.html" class="menu">Подклубы и филиалы</a></div>
		<div class="menucentercell"><a href="/contacts/index.html" class="menu">Контакты</a></div>
		<div class="menudown"></div>
	</div>
	<div id="centerpage">
	<h2>История образования</h2> 
  <p>Идея создания нашего клуба возникла в конце 80-х годов прошлого столетия. Так что его можно считать достаточно зрелым клубом. Это было очень интересное и удивительное время, когда в России (тогда еще в СССР) развивалось и крепло движение любителей кошек, и из-за рубежа, в основном из Чехословакии и Венгрии к нам были завезены кошки персидской, сиамской и ориентальной пород. Многие из них были далеко не лучшего качества, но нам, никогда не видевшим породистых кошек, они казались красивыми диковинными зверями.</p>
<p>Межрегиональное Объединение клубов любителей кошек “Валенсия” было основано как  клуб любителей кошек в конце 1989  и  впервые зарегистрировано в 1991 году.</p>
<p>В 2002 году получило новую государственную регистрацию. На сегодняшний день является Межрегиональным Объединением клубов и имеет в своем составе питомники, филиалы и клубы любителей кошек из разных регионов и городов России. </p>
<!--PageCreator_footer/-->