<!--PageCreator_header/-->
<div id="left">
		<div class="catsup"></div>
		<div class="catscenter">
		<a href="#5"><img src="/templates/images/diz/bri.png" class="catsimg" border="0"></a>
		<a href="#6" class="catstext">Британская</a>
		<a href="#5"><img src="/templates/images/diz/sfs.png" class="catsimg" border="0"></a>
		<a href="#6" class="catstext">Шотландская вислоухая</a>
		<a href="#5"><img src="/templates/images/diz/aby.png" class="catsimg" border="0"></a>
		<a href="#6" class="catstext">Абиссинская</a>
	    </div>
		<div class="catsdown"></div>
	</div>
	<div id="center">
		<div class="centerup"></div>
		<div class="centercenter">
		<h1>Наши котята</h1>
		<img src="/templates/images/diz/hrwhgr.png" border="0">
		<h2>Преимущества нашего разведения и наших котят</h2>

<h3>Чистопородность, элитность</h3>
<p>Кошки и коты состоящие в нашем клубе допускаются до племенного разведения только при наличии родословной и выставочной оценки или оценки в клубе, подтверждающей пригодность данного животного для племенного использования. До спаривания  допускаются кошки имеющие оценку не ниже «Отлично» и коты не ниже - «Чемпион». Потому что чистопородность котят напрямую зависит от чистопородности и элитности его родителей.</p>
<p>В возрасте 45 дней котята проходят осмотр у племенника клуба и получают свидетельства о происхождении (метрика котёнка). На котят имеющих племенные дефекты метрики не выдаются. Особую ценность представляют котята, рождённые от родителей имеющих высокие выставочные титулы, что подтверждает их  высокопородные качества.</p>  
<p>Котята могут быть разного класса:</p> 
<p><strong>Котята “show” класса (выставочного качества)</strong> – самые элитные котята. Цена таких котят может быть очень высока. Это самые лучшие котята, которые в дальнейшем будут получать титулы и побеждать на международных выставках</p> 
<p><strong>Котят “breed” класса</strong> приобретают для племенного использования, они чистопородны и имеют отличное качество. Они будут принимать участие в племенном разведении клуба и производить очень хорошее потомство.</p>
<p><strong>“Pet” класс (или домашний)</strong> – это котята приобретаемые не для разведения под кастрацию или стерилизацию. Обычно такие котята стоят не дорого. Такие котята получаются иногда при межпородном скрещивании, которое осуществляется в соответствии с определённой 
breed-программой,  разработанной клубом для улучшения недостатков некоторых пород или для выведения новых окрасов.</p>

<h3>Чистоплотность. Отсутствие вредных привычек. Характер</h3>
<p>Качество котят в плане их чистоплотности и характера напрямую зависит от их родителей.
Эти и другие признаки наследуются от папы или мамы- кошки. Коты и кошки имеющие «вредные привычки» : нечистоплотность (плохо приучаются к туалету), агрессивность по отношению к людям или животным не участвуют в племенном разведении и не допускаются к спариванию. Они подлежат выбраковке, кастрации и стерилизации.</p>

<h3>Гарантия здоровья</h3>
<p>Опытные заводчики нашего клуба строго следят за здоровьем котят и их родителей. Кошки, коты и котята ежегодно проходят дегельминтизацию и вакцинацию, что подтверждается отметками в ветеринарном паспорте. Котятам старше 3-х месяцев делают прививки от основных инфекционных заболеваний кошек. Поэтому, вы получаете здорового котёнка.</p>

<h3>Консультации по уходу и кормлению.</h3>
<p>Заводчик вашего котёнка осуществляет консультации по содержанию, кормлению, приучению к туалету и уходу за питомцем. Котёнок, приобретённый в нашем клубе, автоматически является членом нашей организации и может получать консультации непосредственно в клубе.</p> 

<h3>Выставочная карьера</h3>
<p>Чистопорордный  котёнок приобретённый в нашем клубе может выставляться на международной выставке кошек начиная с 3-х месячного возраста.  Класс котят (3-6 м-цев), класс юниоров (6-10 м-цев). Титульный класс взрослых животных с 10-ти месяцев. 
Многие владельцы котят не спешат показать своего питомца на выставке кошек. Но это не правильно. Чем раньше животное начнёт принимать участие в выставках, тем легче его психика приспособится к выставкам и переездам. Его поведение будет спокойным и уравновешенным. Кошка в возрасте старше одного года испытывает стресс, обусловленный новыми впечатлениями намного сильнее, чем котёнок или юниор. К тому же,  котята и юниоры могут принять участие в рингах молодняка и получить награды: кубки, медали, розетки на “Best in show”. Котята нашего клуба имеют очень высокое качество и могут получить любые титулы вплоть до Чемпиона мира. Кастрированные коты и кошки тоже могут принять участие в выставке и получить самые высокие титулы и награды в своём классе.</p>
<h3>Участие в племенном разведении</h3>
<p>Для участия в племенном разведении очень важно получить выставочную оценку или оценку в клубе у эксперта подтверждающую племенную пригодность животного. Без положительной оценки, кошки не допускаются к спариванию. Животные имеющие дефекты к вязкам не допускаются и подвергаются обязательной кастрации. Это связано с тем,  что любые дефекты могут негативно сказаться на будущем потомстве. Клуб осуществляет отбор производителей по их качеству. Это необходимо для улучшения и совершенствования каждой породы кошек.
Производители подбираются в соответствии с потребностями данной породы.</p>

		</div>
		<div class="centerdown"></div>
			
	</div>
	<div id="right">
		<div class="catsup"></div>
		<div class="catscenter">
		<a href="#5"><img src="/templates/images/diz/exo.png" class="catsimg" border="0"></a>
		<a href="#6" class="catstext">Экзотическая</a>
		
		<a href="#5"><img src="/templates/images/diz/per.png" class="catsimg" border="0"></a>
		<a href="#6" class="catstext">Персидская</a>
		
		<a href="#5"><img src="/templates/images/diz/dsx.png" class="catsimg" border="0"></a>
		<a href="#6" class="catstext">Сфинкс</a>		</div>
		<div class="catsdown"></div>
	</div>
<!--PageCreator_footer/-->
