<!--PageCreator_header/-->
<div id='maincenter' style="cursor: auto;" onClick="window.location.href='/about/index.html';" onMouseOver="this.style.cursor= 'pointer';" onmouseout="this.style.cursor= 'auto';">
		<h1>Добро пожаловать!</h1>
	</div>
	<div id='newscenter' style="cursor: auto;" onClick="window.location.href='/osen2009/index.html';" onMouseOver="this.style.cursor= 'pointer';" onmouseout="this.style.cursor= 'auto';">
			<div id='newscenterleft' style="float:left;">
			<h3>МЕЖДУНАРОДНАЯ ВЫСТАВКА</h3>
			<h2>Золотая Осень 2009</h2>
		</div>
<div id='newscenterright' style="float:left;">
			<h3>Москва</h3>
			<h3>26-27 сентября</h3>
			<h3>лицензия WCF №9421</h3>
		</div>

</div>
	<div id="news">
		<div id="newsleft">
			<p>Новости:</p>
		</div>
			
		<div id="newsright">
			<div class="newsone">
				<div class="newsdate">1 июля 2009</div>
				<div class="newstext">Добавлена информация о новой выставке "Золотая Осень - 2009" которая будет проходить 26-27 сентября 2009 года. Подробности в разделе "выставки".</div>
			</div>
<div class="newsone">
				<div class="newsdate">1 марта 2009</div>
				<div class="newstext">Добавлена информация о новой выставке "Лучший весенний кот - 2009" которая будет проходить 16-17 мая 2009 года. Подробности в разделе "выставки".</div>
			</div>
			<div class="newsone">
				<div class="newsdate">3 октября 2008</div>
				<div class="newstext">Добавлена информация о выставке "Золотая осень - 2008" которая будет проходить 3-4 ноября 2008 года. Подробности в разделе "выставки".</div>
			</div>
			<div class="newsone">
				<div class="newsdate">3 октября 2008</div>
				<div class="newstext">Новый дизайн сайта. Некоторые разделы еще пусты, но в ближайшее время планируется их запуск.</div>
			</div>
		</div>
	</div>
<!--PageCreator_footer/-->
