<!--PageCreator_header/-->	
<div id='upper'>
		<h1>О нашем объединении</h1>
	</div>
	<div id="left">
		<div class="menuup">О нас</div>
		<div class="menucenterup"><a href="/history/index.html" class="menu">История образования</a></div>
		<div class="menucentercell"><a href="/tasks/index.html" class="menu">Задачи организации</a></div>
		<div class="menucentercell"><a href="/most_active_members/index.html" class="menu">Актив клуба</a></div>
		<div class="menucentercell"><a href="/branch/index.html" class="menu">Подклубы и филиалы</a></div>
		<div class="menucentercell"><a href="/contacts/index.html" class="menu">Контакты</a></div>
		<div class="menudown"></div>
	</div>
	<div id="centerpage">
	<h2>Актив Московского отделения организации</h2>

<p>Президент МОКЛК «Валенсия» -<b>Путилина Марина Викторовна</b> – судья WCF AB по всем породам кошек.<br>    
<b>(495) 581-85-72</b>
</p>
<p>Вице президент - <b>Путилин Сергей Иванович</b> - судья WCF (LH)<br>
<b>(495) 581-85-72</b></p>
<p>Племенник, секретарь МОКЛК «Валенсия» - <b>Дуденко Ирина Валентиновна</b><br> 
<b>(495) 402-76-77<b></p>
<p>Племенник - <b>Белякова Наталья Викторовна</b><br>
<b>(903) 113-87-68</b></p>
<!--PageCreator_footer/-->