<!--PageCreator_header/-->	
<div id='upper'>
		<h1>Выставки</h1>
	</div>
	<div id="left">
		<img src="/templates/images/show/goldosen2008.jpg">
	</div>
	<div id="centerpage">
	<h2>Золотая Осень - 2009, лицензия WCF # 9421</h2> 
<h3>26-27 сентября 2009 г. «Золотая осень - 2009»<br>
Эксперты: Михаил Арянин, Марина Путилина, Тамара Гулянская, Сергей  Путилин.</h3>
<p><b>Местро проведения: </b>Кинотеатр "Спутник". Ул. Солдатская, дом 15. Проезд метро Авиамоторная, Бауманская, Электрозаводская. Регистрация участников и ветконтроль с 9.00 до 10.00. Экспертиза с 11.00-17.00.
</p>
                <table border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="404" valign="top"><p align="center"><strong><em>Размер экспонентского взноса до 10 сентября </em></strong></p></td>
                    <td width="104" valign="top" ><p><strong>Одна оценка</strong></p></td>
                    <td width="95" valign="top"><p><strong>Две оценки</strong></p></td>
                    <td width="114" valign="top"><p><strong>после 10 сентября </strong></p></td>
 <td width="114" valign="top"><p><strong>оплата с 25.09 и на выставке</strong></p></td>
                  </tr>
                  <tr>
                    <td width="404" valign="top"><p><strong> Титульные классы: Взрослые кошки (с 10 м-цев), Премиоры (катсраты) </strong></p></td>
                    <td width="104" valign="top"><p><strong>1600 руб.</strong></p></td>
                    <td width="95" valign="top"><p><strong>1800 руб.</strong></p></td>
                    <td width="114" valign="top"><p><strong> +200р.</strong></p></td>
<td width="114" valign="top"><p><strong> +500р.</strong></p></td>
                  </tr>
                  <tr>
                    <td width="404" valign="top"><p><strong>Класс молодых(6-10), котят(3-6), литер (помет)</strong></p></td>
                    <td width="104" valign="top"><p><strong>1400 руб.</strong></p></td>
                    <td width="95" valign="top"><p><strong>1600 руб.</strong></p></td>
                    <td width="114" valign="top"><p><strong> +200р.</strong></p></td>
<td width="114" valign="top"><p><strong> +500р.</strong></p></td>
                  </tr>
                  <tr>
                    <td width="404" valign="top"><p><strong>Новички, домашние, определение породы </strong></p></td>
                    <td width="104" valign="top"><p><strong>1000 руб. </strong></p></td>
                    <td width="95" valign="top"><p><strong>1200 руб.</strong></p></td>
                    <td width="114" valign="top"><p><strong> +200р.</strong></p></td>
<td width="114" valign="top"><p><strong> +200р.</strong></p></td>
                  </tr>
                  <tr>
                    <td width="404" valign="top"><p><strong>WCF ринги, специальные шоу пород</strong></p></td>
                    <td width="104" valign="top"><p><strong>500 руб.</strong></p></td>
                    <td width="95" valign="top" class="text"><p><strong></strong></p></td>
                    <td width="114" valign="top"><p><strong></strong></p></td>
<td width="114" valign="top"><p></p></td>
                  </tr>
                </table>
                <p>К выставке допускаются здоровые кошки и котята в возрасте не моложе 12-ти недель при наличии ветеринарных паспортов и справок форма  № 4 для москвичей или форма  № 1 для иногородних.
Можно выставлять кошку в своей клетке. Участников ждут конкурсы, кубки и награды.</p> 
    <p>На выставке будут проводиться<b> WCF- ринги</b>: 26.09- для котят, юниоров,  27.09 для взрослых кошек
и <b>Специальные Шоу пород</b>:  Британские,  Скоттиш Фолд,  Мейн Кун и  
<b>Спец.Шоу</b> Сфинксов: ( SPH, DSX, PBD).</p>
<p>
Победители конкурсов награждаются кубками, розетками, подарками.
Продажа котят бесплатно разрешается только с выставляемым животным в одной клетке (в количестве не более 3-х ) и записью в каталог. За дополнительное место(клетку) для продажи котят при выставляемом животном- оплата 500 руб. Запись в основной каталог заканчивается 15 сентября, в дополнительный 
список 21 сентября.<br>
При записи 3-х и более кошек скидка 10%.<br>
При записи одновременно на 2-е оценки, WCF ринг и Спец.Шоу скидка 10%.</p>

                <h3>Запись на выставку предварительная!</h3>
<h3>Оплату можно отправить почтовым переводом при согласовании по тел. (495)581-85-72</h3>
<p>Запись в клубе по четвергам в клубе  с 18.00-19.30 по адресу: ул. Менжинского,6, кинотеатр «Арктика», проезд до  метро Бабушкинская, 10 мин. пешком или авт.124,174,238  3-я  остановка к/т «Арктика», рядом с платформой Лосиноостровская.</p>
                <h3>Справки по тел.:
                  <br>(495) 581-85-72  Путилина Марина  Викторовна,</h3>
                  <h3>(495) 402-76-77  Дуденко Ирина  Валентиновна,</h3>
              <p>Иногородние могут отправить  заявки по e-mail и факсу. <strong>e-mail:valensia@umail.ru</strong>

<p>Заявка в формате RTF <a  href='http://www.valensiacat.ru/blank.rtf' class="footerhref">скачать</a></p>
<p>Заявка в формате DOC <a href='http://www.valensiacat.ru/blank.doc' class="footerhref">скачать</a></p>              

<!--PageCreator_footer/-->
