<!--PageCreator_header/-->	
<div id='upper'>
		<h1>Выставки</h1>
	</div>
<!--	<div id="left">
		<img src="/templates/images/show/spring2009.jpg">
	</div> -->
	<div id="centerpage">
	<h2>Лучший весенний кот - 2009, лицензия WCF №9269</h2> 
<h3>16-17 мая 2009 г. «Лучший весенний кот - 2009»<br>
Эксперты: Т. Комарова (WCF-AB Санкт-Перербург), Т. Гулянская (WCF-AB Москва),  М. Путилина (WCF-AB Москва), С. Путилин (WCF-LH Москва).  
</h3>
<p><b>Местро проведения: </b>г. Москва, м. Первомайская, ул. Измайловский бульвар д.39/41 Московский Театр Мимики и Жеста.
</p>
                <table border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="404" valign="top"><p align="center"><strong><em>Размер экспонентского взноса до 1 мая </em></strong></p></td>
                    <td width="104" valign="top" ><p><strong>Одна оценка</strong></p></td>
                    <td width="95" valign="top"><p><strong>Две оценки</strong></p></td>
                    <td width="114" valign="top"><p><strong>после 1 мая </strong></p></td>
                  </tr>
                  <tr>
                    <td width="404" valign="top"><p><strong>Взрослые кошки (с 10 м-цев) </strong></p></td>
                    <td width="104" valign="top"><p><strong>1500 руб.</strong></p></td>
                    <td width="95" valign="top"><p><strong>1800 руб.</strong></p></td>
                    <td width="114" valign="top"><p><strong> +200р.</strong></p></td>
                  </tr>
                  <tr>
                    <td width="404" valign="top"><p><strong>Класс молодых,     котят,  литер класс, кастраты</strong></p></td>
                    <td width="104" valign="top"><p><strong>1100 руб.</strong></p></td>
                    <td width="95" valign="top"><p><strong>1300 руб.</strong></p></td>
                    <td width="114" valign="top"><p><strong> +200р.</strong></p></td>
                  </tr>
                  <tr>
                    <td width="404" valign="top"><p><strong>Новички, домашние, определение породы </strong></p></td>
                    <td width="104" valign="top"><p><strong>800 руб. </strong></p></td>
                    <td width="95" valign="top"><p><strong>100 руб.</strong></p></td>
                    <td width="114" valign="top"><p><strong> +200р.</strong></p></td>
                  </tr>
                  <tr>
                    <td width="404" valign="top"><p><strong>WCF ринг </strong></p></td>
                    <td width="104" valign="top"><p><strong>500 руб.</strong></p></td>
                    <td width="95" valign="top" class="text"><p><strong></strong></p></td>
                    <td width="114" valign="top"><p><strong></strong></p></td>
                  </tr>
                </table>
                <p>К выставке допускаются здоровые кошки и котята в возрасте не моложе 2-х месяцев. Размер клеток 52х52. Можно выставлять кошку в своей клетке.</p>
                <p>Участников ждут конкурсы, кубки  и награды. <br>
				На выставке будут проводиться WCF-ринги для для котят, юниоров, взрослых кошек и шоу среди породных групп. Победители конкурсов награждаются кубками и подарками,  остальные получают наградные розетки и дипломы.<br>
				При записи 3х или более кошек скидка 10%
                <p>Запись на выставку <strong>предварительная</strong>: по четвергам в клубе  с 18.00-19.30 по адресу: ул. Менжинского,6, кинотеатр «Арктика», проезд до  метро Бабушкинская, 10 мин. пешком или авт.124,174,238  3-я  остановка к/т «Арктика», рядом с платформой Лосиноостровская.<br>
                <h3>Справки по тел.:
                  <br>(495) 581-85-72  Путилина Марина  Викторовна,</h3>
                  <h3>(495) 402-76-77  Дуденко Ирина  Валентиновна,</h3>
              <p>Иногородние могут отправить  заявки по e-mail и факсу. <strong>e-mail:valensia@umail.ru</strong>
<p>Оплату  можно отправить почтовым переводом при предварительном согласовании по телефону:<b>(495)581-85-72</b></p>
<p>Заявка в формате RTF <a  href='http://www.valensiacat.ru/blank.rtf' class="footerhref">скачать</a></p>
<p>Заявка в формате DOC <a href='http://www.valensiacat.ru/blank.doc' class="footerhref">скачать</a></p>              

<!--PageCreator_footer/-->