<!--PageCreator_header/-->	
<div id='upper'>
		<h1>О нашем объединении</h1>
	</div>
	<div id="left">
		<div class="menuup">О нас</div>
		<div class="menucenterup"><a href="/history/index.html" class="menu">История образования</a></div>
		<div class="menucentercell"><a href="/tasks/index.html" class="menu">Задачи организации</a></div>
		<div class="menucentercell"><a href="/most_active_members/index.html" class="menu">Актив клуба</a></div>
		<div class="menucentercell"><a href="/branch/index.html" class="menu">Подклубы и филиалы</a></div>
		<div class="menucentercell"><a href="/contacts/index.html" class="menu">Контакты</a></div>
		<div class="menudown"></div>
	</div>
	<div id="centerpage">
	<h2>Задачи организации</h2> 
  <p>Одной из главных задач Объединения является  улучшение и совершенствование известных в мире пород кошек, а так же аборигенных кошек России; содействие популяризации породистых кошек в России и за рубежом; воспитание гуманного отношения к кошке, как к части живой природы; удовлетворение культурных, познавательных и иных интересов граждан, связанных с содержанием и разведением породистых кошек.</p> 
<p>Для этого Объединение занимается серьезной племенной работой,  проводит Международные и клубные выставки кошек, фелинологические курсы для любителей кошек, а так же консультации по содержанию, уходу и выращиванию породистых кошек.</p>
<p>Родословные МОКЛК "Валенсия" признаются всеми клубами России, а так же фелинологическими клубами, ассоциациями и объединениями любителей кошек за рубежом.</p>
<p>Объединение имеет своих международных судей.</p> 
<!--PageCreator_footer/-->